main {
  text-align: center;
  vertical-align: center;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.topicTitleRow {
  display: flex;

  div {
    margin: 0.5rem;
  }
}

.TopicPage {
  display: flex;
  flex-direction: column;
  height: 90vh;

  .cardContainer {
    border: 1px solid grey;
    // height: 60vh;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    user-select: none;
    padding: 1rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .Freqs {
    .data1 {
      color: black;
      font-size: 3rem;
    }

    .data2 {
      color: blue;
      font-size: 4rem;
    }
  }

  .Airports {
    .data1 {
      color: black;
      font-size: 3rem;
    }

    .data2 {
      color: blue;
      font-size: 2rem;
    }
  }

  .Sids {
    .data1 {
      color: black;
      font-size: 3rem;
    }

    .data2 {
      color: blue;

      display: flex;
      flex-direction: column;

      .routeWP {
        font-size: 1.7em;
        height: 1.7rem;
      }

      .finalWP {
        font-size: 2em;
        height: 2rem;
        font-weight: bold;
        text-decoration: underline;
      }

      .furtherWP {
        font-size: 1em;
        height: 1rem;
        margin-top: 0.3rem;
      }
    }

    .data3 {
      color: green;
      font-size: 1.5em;
      height: 1.5rem;
      padding: 0.25rem;
      margin-bottom: 1rem;
    }

    .data4 {
      color: blue;
      font-size: 1em;
      height: 1rem;
    }

    .data5 {
      padding: 0.25rem;
      font-weight: bold;
      font-size: 1.5em;
      height: 1.5rem;
    }

    .data6 {
      color: darkslategrey;
      font-size: 1.5em;
      height: 1.5rem;
      text-decoration: underline;
      margin-bottom: 0.5rem;
    }

    .data7a {
      font-size: 1.5em;
      height: 1.5rem;
      color: green;
      display: flex;
      flex-direction: row;

      .altitude {
        font-weight: bold;
      }
    }

    .data7b {
      font-size: 1.3em;
      height: 1.3rem;
      color: teal;
      margin-top: 1.2rem;
      display: flex;
      flex-direction: column;
      .altitude {
        font-weight: bold;
      }
      .reason {
        font-size: 1rem;
      }
    }

    .data8 {
      font-size: 1.5em;
      height: 1.5rem;
      color: darkslategrey;
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      .freq {
        font-weight: bold;
        text-decoration: underline;
      }
      .sector {
      }
    }
    .colorPurple {
      color: white;
      background-color: purple;
    }

    .colorOrange {
      color: white;
      background-color: darkorange;
    }

    .colorDefault {
      color: auto;
      background-color: auto;
    }
  }
}

.disableClick {
  pointer-events: none;
}

.Homepage {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
    padding: 1rem;
  }

  h2 {
    margin: 0 0 2rem 0;
  }

  .titleSection {
    display: flex;
    flex-direction: column;
  }

  .topicSection {
    text-align: start;
    .topicRow {
      font-size: 2rem;
      padding: 1rem;
      border: 1px solid grey;
    }
  }
}

.resetButton {
  padding: 0.5rem;
  margin: 1rem;
  background-color: lightblue;
}

.footerSection {
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  .homeButton {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: aliceblue;
  }
}
